{% extends "base_template.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
    <h1>Iniciar Sesión</h1>
    <form action="{{ request.path }}" method="post">
        <label for="name">Nombre</label><br>
        <input type="text" name="name" placeholder="Nombre"/><br>
        <label for="password">Contraseña</label><br>
        <input type="password" name="password" placeholder="password"/><br>
        <br>
        <input type="submit" value="Iniciar Sesión"/>
    </form>
    <p>¿No tienes una cuenta? <a href="{{ url_for('register') }}">Regístrate aquí</a></p>
{% endblock %}



