v{% extends "base_template.html" %}

{% block title %}Crear Usuario{% endblock %}

{% block content %}
    <h1>Registro de Usuario</h1>
    <hr/>
    <form action="{{ request.path }}" method="post" class="container">
        <label for="name">Nombre</label><br>
        <input type="text" name="name" placeholder="Nombre"/><br>
        <label for="password">Contraseña</label><br>
        <input type="password" name="password" placeholder="password"/><br>
        <br>
        <input type="submit" value="Guardar"/>
    </form>
{% endblock %}






