<!DOCTYPE html> 
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sucursales</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>
    <h1>Sucursales</h1> 
    <h2>Lista de Sucursales</h2>
    <ul>
        {% for sucursal in sucursales %}
            <li>ID: {{ sucursal.id }} - Provincia: {{ sucursal.provincia }} - Dirección: {{ sucursal.direccion }} 
                <button type="button" class="btn btn-primary" onclick="location.href='{{ url_for('sucursal_detail', sucursal_id=sucursal.id) }}'">Ver</button>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
